<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>所有商品</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/chosen.min.css">
    <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/lightbox.min.css">
    <link rel="stylesheet" href="assets/js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="assets/css/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="assets/css/mobile-menu.css">
    <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="productsgrid-page">
<header class="header style7">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-message">
                    Welcome to our online store!
                </div>
            </div>
            <div class="top-bar-right">
                <ul class="header-user-links">
                    <li id="loginBtn" >
                        <a th:href="@{/login1}" th:if="${session.userName} == null">登录/注册</a>
                    </li>
                    <li id="alreadyLogin"  th:if="${session.userName} !=null">
                        欢迎您，<a id="welcomeUser" href="/userInfo">[[${session.userName}]]</a>
                        &nbsp&nbsp<a id="logout" href="/logout">注销</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="img">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12">
                    <div class="block-search-block">
                        <form class="form-search form-search-width-category">
                            <div class="form-content">
                                <div class="category">
                                    <select title="cate" data-placeholder="All Categories" class="chosen-select"
                                            tabindex="1">
                                        <option value="United States">Accessories</option>
                                    </select>
                                </div>
                                <div class="inner">
                                    <input type="text" class="input" name="s" value="" placeholder="Search here">
                                </div>
                                <button class="btn-search" type="submit">
                                    <span class="icon-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12 col-md-3 col-xs-12 col-ts-12">
                    <div class="header-control">
                        <div class="block-minicart zentimo-mini-cart block-header zentimo-dropdown">
                            <a href="javascript:void(0);" class="shopcart-icon" data-zentimo="zentimo-dropdown">
                                Cart
                                <span class="count">
									0
									</span>
                            </a>
                            <div class="no-product zentimo-submenu">
                                <p class="text">
                                    You have
                                    <span>
											 0 item(s)
										</span>
                                    in your bag
                                </p>
                            </div>
                        </div>
                        <div class="block-account block-header zentimo-dropdown">
                            <a href="javascript:void(0);" data-zentimo="zentimo-dropdown">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </a>

                        </div>
                        <a class="menu-bar mobile-navigation menu-toggle" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-container rows-space-20">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                <div class="vertical-wapper block-nav-categori">
                    <div class="block-title">
							<span class="icon-bar">
								<span></span>
								<span></span>
								<span></span>
							</span>
                        <span class="text">全部分类</span>
                    </div>
                    <div class="block-content verticalmenu-content">
                        <ul class="zentimo-nav-vertical vertical-menu zentimo-clone-mobile-menu">
                            <li class="menu-item" th:each="catelogs:${catelogs}">
                                <a href="#" class="zentimo-menu-item-title" ><span th:text="${catelogs.catelog_name}"></span></a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="header-nav">
                    <div class="container-wapper">
                        <ul class="zentimo-clone-mobile-menu zentimo-nav main-menu " id="menu-main-menu">
                            <li class="menu-item ">
                                <a th:href="@{/}" class="zentimo-menu-item-title" title="Home">首页</a>
                                <span class="toggle-submenu"></span>

                            </li>
                            <li class="menu-item">
                                <a th:href="@{/allGoods}" class="zentimo-menu-item-title" title="Shop">所有商品</a>
                                <span class="toggle-submenu"></span>

                            </li>
                            <li class="menu-item  menu-item-has-children item-megamenu">
                                <a href="#" class="zentimo-menu-item-title" title="Pages">Pages</a>
                                <span class="toggle-submenu"></span>
                                <div class="submenu mega-menu menu-page">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                            <div class="zentimo-custommenu default">
                                                <h2 class="widgettitle">Shop Pages</h2>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                            <div class="zentimo-custommenu default">
                                                <h2 class="widgettitle">Product</h2>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item  menu-item-has-children">
                                <a href="inblog_right-siderbar.html" class="zentimo-menu-item-title"
                                   title="Blogs">商品管理</a>
                                <span class="toggle-submenu"></span>
                                <ul class="submenu">
                                    <li class="menu-item menu-item-has-children">
                                        <a th:href="@{/goodInfo}" class="zentimo-menu-item-title" title="Blog Style">发布商品</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a th:href="@{/getOwnGoods}" class="zentimo-menu-item-title" title="Post Layout">查看已发布商品</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="about.html" class="zentimo-menu-item-title" title="About">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a href="#">
                    <img src="assets/images/logo.png" alt="img">
                </a>
            </div>
        </div>
        <div class="item item mobile-search-box has-sub">
            <a href="#">
						<span class="icon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="header-searchform-box">
                    <form class="header-searchform">
                        <div class="searchform-wrap">
                            <input type="text" class="search-input" placeholder="Enter keywords to search...">
                            <input type="submit" class="submit button" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="item mobile-settings-box has-sub">
            <a href="#">
						<span class="icon">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="block-sub-item">
                    <h5 class="block-item-title">Currency</h5>

                </div>
            </div>
        </div>
        <div class="item menu-bar">
            <a class=" mobile-navigation  menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>
<div class="main-content main-content-product no-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a th:href="@{/}">首页</a>
                        </li>
                        <li class="trail-item trail-end active">
                            所有商品
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-area shop-grid-content full-width col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="site-main">

                    <h3 class="custom_blog_title">
                        所有商品
                    </h3>

                    <ul class="row list-products auto-clear equal-container product-grid">
                        <li class="product-item  col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1" th:each="good:${list}">
                            <div class="product-inner equal-element">
                                <div class="product-thumb">
                                    <div class="thumb-inner">
                                        <a th:href="@{/showGoodDetails(good_id=${good.good_id})}">
                                            <img th:src="@{/assets/images/{goodPhoto}(goodPhoto=${good.good_photo})}" alt="img">
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h5 class="product-name product_title">
                                        <a href="#"><span th:text="${good.good_name}"></span></a>
                                    </h5>
                                    <div class="group-info">
                                        <div class="price">
                                            <ins>
                                                <span th:text="${good.good_price}"></span>
                                            </ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="loop-form-add-to-cart">
                                    <form class="cart">
                                        <div class="single_variation_wrap">
                                            <div class="quantity">
                                                <div class="control">
                                                    <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                    <input type="text" data-step="1" data-min="0" value="1" title="Qty"
                                                           class="input-qty qty" size="4">
                                                    <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                                </div>
                                            </div>
                                            <button class="single_add_to_cart_button button">Add to cart</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="pagination clearfix style2">
                        <div class="nav-link">
                            <a href="/allGoods?pageNum=1" class="page-numbers"><i class="icon fa fa-angle-left"
                                                                                    aria-hidden="true"></i>首页</a>
                            <a th:if="${pageInfo.hasPreviousPage}" th:href="@{/allGoods(pageNum=${pageInfo.pageNum}-1)}" class="page-numbers"><i class="icon fa fa-angle-left"
                                                                aria-hidden="true" title="上一页"></i></a>
                            <a th:if="${pageInfo.hasNextPage}" th:href="@{/allGoods(pageNum=${pageInfo.pageNum}+1)}" class="page-numbers"><i class="icon fa fa-angle-right"
                                                                aria-hidden="true"></i></a>
                            <a th:href="@{/allGoods(pageNum=${pageInfo.pages})}" class="page-numbers">尾页<i class="icon fa fa-angle-right"
                                                                                      aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<a href="#" class="backtotop">
    <i class="pe-7s-angle-up"></i>
</a>
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/jquery.plugin-countdown.min.js"></script>
<script src="assets/js/jquery-countdown.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/jquery.scrollbar.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/mobile-menu.js"></script>
<script src="assets/js/chosen.min.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/jquery.elevateZoom.min.js"></script>
<script src="assets/js/jquery.actual.min.js"></script>
<script src="assets/js/fancybox/source/jquery.fancybox.js"></script>
<script src="assets/js/lightbox.min.js"></script>
<script src="assets/js/owl.thumbs.min.js"></script>
<script src="assets/js/jquery.scrollbar.min.js"></script>
<script src='http://ditu.google.cn/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
<script src="assets/js/frontend-plugin.js"></script>
</body>
</html>